<div class="row">
	<h3>Google Firebase Example implementation</h3>
	<form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label>Title</label>
			<input 
				type="text" 
				class="form-control"
				formControlName="title" 
			/>
		</div>
		<div class="form-group">
			<label>Name</label>
			<input 
				type="text" 
				class="form-control"
				formControlName="name" 
			/>
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea 
				class="form-control" 
				formControlName="description"
			></textarea>
		</div>
        <hr />
		<div class="form-group" style="padding-right: 2px;">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-info" (click)="onFetchPosts()">Fetch</button>
			<button type="button" class="btn btn-danger" (click)="onClearPosts()">Clear</button>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6">
		<p *ngIf="loadedPosts.length < 1 && !isFetching">No post available</p>
		<ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
			<li class="list-group-item" *ngFor="let post of loadedPosts">
				<h3>{{ post.title }}</h3>
				<p>{{ post.name }}</p>
				<p>{{ post.description }}</p>
			</li>
		</ul>
		<p *ngIf="isFetching">Loading...</p>
	</div>
</div>