<div class="row">
	<h3>Google Firebase Example implementation</h3>
	<form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label>Title</label>
			<input 
				type="text" 
				class="form-control"
				formControlName="title" 
			/>
		</div>
		<div class="form-group">
			<label>Name</label>
			<input 
				type="text" 
				class="form-control"
				formControlName="name" 
			/>
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea 
				class="form-control" 
				formControlName="description"
			></textarea>
		</div>
        <hr />
		<div class="form-group" style="padding-right: 2px;">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-info">Fetch</button>
			<button type="button" class="btn btn-danger">Clear</button>
		</div>
	</form>
</div>