<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <input type="text" class="form-controls" [(ngModel)]="fliteredState" />
            <hr />

            <ul class="list-group">
                <li class="list-group-item" 
                    *ngFor="let server of servers | filter:fliteredState:'status'"
                    [ngClass]="getStatusClasses(server)"
                >
                    <span class="badge bg-dark float-end">{{server.status}}</span>
                    <strong>{{server.name | shorten:15 }}</strong> | 
                    {{ server.instanceType | uppercase }} | 
                    {{ server.started | date:'fullDate' }}
                </li>
            </ul>
        </div>
    </div>
</div>