<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li ngbDropdown class="dropdown">
                    <a href="#" ngbDropdownToggle class="dropdown-toggle" role="button" id="dropdownMenuButton2" aria-expanded="false">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                        <li><a ngbDropdownItem href="#">save data</a></li>
                        <li><a ngbDropdownItem href="#">fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-default">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" (click)="onSelect('recipe')">Recipe <span class="sr-only">(current)</span></a> -->
          <a class="nav-link" href="recipe">Recipe <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='shopping-list'>Shopping List</a>
          <!-- <a class="nav-link" (click)="onSelect('shopping-list')">Shopping List</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product">Product</a>
          <!-- <a class="nav-link" (click)="onSelect('product')">Product</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="servers">Servers</a>
          <!-- <a class="nav-link" (click)="onSelect('servers')">Servers</a> -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>