<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li ngbDropdown class="dropdown">
                    <a href="#" ngbDropdownToggle class="dropdown-toggle" role="button" id="dropdownMenuButton2" aria-expanded="false">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                        <li><a ngbDropdownItem href="#">save data</a></li>
                        <li><a ngbDropdownItem href="#">fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </nav>