<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="shoppingName" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" [(ngModel)]="amount" name="amount" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 p-1">
                    <button class="btn btn-success m-1" type="submit" (click)="addShopping()">Add</button>
                    <button class="btn btn-danger m-1" type="button" (click)="deleteShopping()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>